@use "../../partials/variables";
@use "../../partials/mixins";

.achievement {
  .container {
    .wrap-heading {
      .section-heading {
        width: 55.8rem;
        height: 8.4rem;
        margin: 0 auto;
        padding-bottom: 2.4rem;
      }

      .description {
        width: 64.3rem;
        height: 4.4rem;
        margin: 0 auto;
        padding-bottom: 14.2rem;
      }
    }

    .row {
      @include mixins.lg-device {
        row-gap: 1rem;
        align-items: center;
      }
      .col-xxl-4 {
        padding: 0;
        position: relative;
        z-index: 2;
        &:first-child {
          &::before {
            content: "";
            display: block;
            width: 23.5rem;
            height: 23.5rem;
            border-radius: 50%;
            background-color: #dcffca;
            position: absolute;
            top: 0;
            left: 0;
            transform: translate(-30%, -50%);
            z-index: -1;

            @include mixins.lg-device {
              display: none;
            }
          }
        }

        &:last-child {
          &::after {
            content: "";
            display: block;
            width: 23.5rem;
            height: 23.5rem;
            border-radius: 50%;
            background-color: #ffd5bd;
            position: absolute;
            bottom: 0;
            right: 0;
            transform: translate(40%, 50%);
            z-index: -1;
            @include mixins.lg-device {
              display: none;
            }
          }
        }
        .wrap-card {
          width: 29rem;
          height: 34rem;
          margin: 0 auto;
          padding: 2rem;
          background-color: #fefefe;
          display: flex;
          row-gap: 2.3rem;
          flex-direction: column;
          align-items: flex-start;
          text-align: left;
          border-radius: 3px;
          box-shadow: -5.833px 8.333px 72.5px 0px rgba(54, 54, 54, 0.22);

          @include mixins.lg-device {
            width: 70%;
            height: 100%;
            border-radius: 1rem;
            align-items: center;
            text-align: center;
            background: linear-gradient(to right, #dcffca, #ffd5bd);
          }

          .card-heading {
            font-size: 4.3rem;
            font-weight: 800;
          }
        }
      }
    }
  }
}
