@use "../../partials/variables";
@use "../../partials/mixins";
@use "../../partials/base";

.introduce {
  margin-top: 10.6rem;
  min-height: 70.8rem;
  @include mixins.lg-device {
    background-color: #dcffca;
    padding-top: 5rem;
  }

  .container {
    .content-wrap {
      min-height: 74.3vh;
      display: flex;
      flex-direction: column;
      justify-content: center;

      @include mixins.xxl-device {
        padding-left: 5vw;
      }

      @include mixins.lg-device {
        padding: 0;
        min-height: 0;
        align-items: center;
        text-align: center;
      }

      .content-heading {
        font-size: 1.9vw;
        font-weight: 800;
        line-height: 1.31;

        @include mixins.lg-device {
          font-size: 4vw;
        }
      }
      .content-headingBigger {
        width: 38rem;
        font-size: 2vw;
        font-weight: 800;
        padding: 1.5rem 2rem 2.7rem 0;

        @include mixins.lg-device {
          font-size: 5.5vw;
        }
      }
      .content-description {
        width: 45rem;
        @include mixins.lg-device {
          display: inline-block;
          width: 80%;
          margin: 0 auto;
        }
      }
    }

    .img-wrap {
      width: 46.5vw;
      height: 70.8rem;
      background-color: #dcffca;
      border-radius: 16.667px 0px 0px 16.667px;
      position: absolute;
      right: 0;
      top: 11%;

      @include mixins.lg-device {
        position: relative;
        width: 100vw;
        top: 0;
        height: 60rem;
      }

      @include mixins.md-device {
        height: 45rem;
      }
      @include mixins.sm-device {
        height: 35rem;
      }

      .img-intro {
        width: auto;
        height: 71.4rem;
        position: absolute;
        left: 0;
        top: 50%;
        transform: translate(-20%, -50%);

        @include mixins.xl-device {
          height: 50vw;
          width: auto;
        }

        @include mixins.lg-device {
          top: 0;
          transform: translateY(0);
          height: 70vw;
          width: auto;
        }
      }
      .text-wrap {
        position: absolute;
        right: -6vh;
        top: 15.5rem;
        transform: rotate(90deg);
        color: #216000;
        opacity: 0.15;
        font-size: 9vw;
        font-weight: 800;
        line-height: 100%;
        text-transform: uppercase;

        @include mixins.xl-device {
          top: 25rem;
        }
        @include mixins.lg-device {
          top: 25vw;
          font-size: 15vw;
        }
      }
    }
  }
}
