@use "../../partials/variables";
@use "../../partials/mixins";

.protect {
  .container {
    .wrap-heading {
      margin-bottom: 5rem;

      .section-heading {
        padding-bottom: 2.4rem;
      }
    }

    .row {
      .col-xxl-12 {
        margin-bottom: 10rem;

        .row {
          margin: 0;
          text-align: left;
          .col-xxl-4 {
            padding: 0;
            .card-protect {
              .wrap-img {
                img {
                  @include mixins.xl-device {
                    width: 30vw;
                  }

                  @include mixins.lg-device {
                    width: 100%;
                  }
                }
              }
              .wrap-content {
                padding: 2rem;
                width: 29rem;
                .card-heading {
                  font-size: 2rem;
                  font-weight: 600;
                  line-height: 2.67rem;
                  color: #e05000;
                }
              }
            }

            .wrap-item {
              display: flex;
              align-items: flex-start;
              column-gap: 1rem;

              .wrap-content {
                .heading-item {
                  font-size: 2rem;
                  font-weight: 600;
                  line-height: 2.6rem;
                }
                .des-icon {
                  width: 21.6rem;
                  height: 9.7rem;
                  font-size: 1.7rem;
                  font-weight: 500;
                }
              }
            }
          }
        }
      }
    }
  }
}

.comments {
  .container {
    .row {
      align-items: flex-end;
      .col-xxl-6 {
        padding: 0;
        .wrap-img {
          @include mixins.lg-device {
            width: fit-content;
            margin: 0 auto;
          }
        }
        .wrap-content {
          .cmt-heading {
            font-size: 2rem;
            font-weight: 600;
            line-height: 2.6rem;
            padding-bottom: 2.6rem;
            @include mixins.lg-device {
              text-align: center;
            }
          }

          .form-cmt {
            .wrap-input {
              width: 100%;
              .form-input {
                width: 100%;
                padding: 1.3rem 1rem;
                margin-bottom: 2.2rem;
                border-radius: 7px;
                border: 1px solid #a3a3a3;
              }
              &:nth-child(2) {
                display: flex;
                column-gap: 1rem;
              }

              textarea {
                resize: none;
              }
            }

            .wrap-btn {
              width: fit-content;
              margin-left: auto;
              @include mixins.lg-device {
                margin: 0 auto;
              }
              .cmt-btn {
                padding: 1.3rem 5rem;
                border-radius: 7px;
                border: none;
                background-color: variables.$lightgreenCOlor;
                color: variables.$whiteColor;

                &:hover {
                  outline: 1px solid variables.$lightgreenCOlor;
                  background-color: variables.$whiteColor;
                  color: variables.$lightgreenCOlor;
                  transition: all 0.25s ease;
                }
              }
            }
          }
        }
      }
    }
  }
}
