@use "../../partials/variables";
@use "../../partials/mixins";

.product {
  padding-top: 10rem;
  .container {
    .row {
      .col-xxl-12 {
        &:first-child {
          margin-top: 2rem;
          margin-bottom: 9.6rem;
        }
        .row {
          @include mixins.xl-device {
            row-gap: 3rem;
          }
          .col-xxl-4 {
            padding: 0;
            .product-card {
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: center;
              .card-heading {
                font-size: 23.333px;
                font-style: normal;
                font-weight: 700;
                padding-bottom: 3rem;
              }

              .card-quantity {
                line-height: 2.1rem;
              }

              .card-price {
                padding-bottom: 3rem;
                .bigger-price {
                  font-size: 2.3rem;
                  font-weight: 600;
                  line-height: 2.7rem;
                }
              }

              .order-product {
                padding: 1.3rem 1.17rem;
                border-radius: 6.667px;
                background-color: variables.$lightgreenCOlor;
                color: variables.$textwhite;
                border: none;
                cursor: pointer;

                &:hover {
                  background-color: variables.$whiteColor;
                  color: variables.$lightgreenCOlor;
                  outline: 1px solid variables.$lightgreenCOlor;
                  transition: all 0.25s ease;
                }
              }
            }
          }
        }
      }
    }
  }
}
