* {
  font-family: "Nunito", sans-serif;
  text-decoration: none;
  list-style-type: none;
  text-transform: capitalize;
}

html {
  font-size: 62.5%;
}

input,
textarea,
iframe {
  border: none;
  outline: none;
}

/* Common */
.homepage .gallery,
.homepage .services,
.homepage .destination {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 6rem;
}
.homepage .blogs .blogs-heading,
.homepage .gallery .gallery-heading,
.homepage .services .services-heading,
.homepage .destination .destination-heading {
  text-align: center;
  margin-bottom: 2rem;
}

p {
  font-size: 1.4rem;
  line-height: 2.8rem;
  color: rgb(85, 85, 85);
  font-weight: 600;
  text-transform: capitalize;
}

span {
  font-size: 2rem;
  font-weight: 600;
  color: var(--orange);
}

h3 {
  font-size: 4rem;
  font-weight: 700;
  color: rgb(51, 51, 51);
}

h4 {
  font-size: 2rem;
  font-weight: 700;
  color: rgb(51, 51, 51);
}

/* End common */

:root {
  --orange: #ffa500;
}

.container {
  margin: 0 auto;
  position: relative;
}

.homepage .header {
  height: 7.1rem;
  background-color: rgba(34, 34, 34, 0.9);
  padding: 1.5rem 9%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.homepage .header .menu-btn {
  font-size: 2.5rem;
  color: #fff;
  cursor: pointer;
  display: none;
}

.logo {
  text-transform: uppercase;
  color: #fff;
  font-size: 2.5rem;
  font-weight: 700;
}
.logo .first-letter {
  color: var(--orange);
  font-size: 2.5rem;
}

.header .header-navbar .navbar-list {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.header-navbar .navbar-list .navbar-item a {
  font-size: 1.7rem;
  font-weight: 400;
  color: #fff;
}

.header .darklight-toggle {
  font-size: 2rem;
  padding: 0.2rem 0.8rem;
  color: var(--orange);
  border: 2px solid var(--orange);
  border-radius: 50%;
  cursor: pointer;
  position: absolute;
  right: 20%;
}

.header .header-book {
  color: #000;
  font-size: 2rem;
  padding: 0.6rem 1.2rem;
  background-color: var(--orange);
  border: 0.2rem solid var(--orange);
  border-radius: 5rem;
}

/* End homepage header */

.homepage .home {
  margin: 10rem auto;
  width: 95%;
  min-height: 80vh;
  background: url(https://stravelhtml.vercel.app/mumbai/images/home-bg.jpg)
    no-repeat center / cover;
  position: relative;
  border-radius: 1rem;
  overflow: hidden;
}

.homepage .home .overlay {
  position: absolute;
  inset: 0;
  background-color: #0000009c;
}

.homepage .home .home-content {
  width: 60%;
}

.homepage .home .home-content {
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  text-align: center;
  line-height: 1.4;
}

.home-content h1 {
  font-size: 9.6rem;
  font-weight: 700;
}

.home-content h1 .special {
  font-size: 7.7rem;
  font-weight: 700;
  display: block;
  color: transparent;
  -webkit-text-stroke: 0.1rem var(--orange);
}

.home-content p {
  max-width: 60%;
  color: #fff;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 3rem;
  text-transform: capitalize;
  padding-bottom: 1rem;
}

.home-content .home-btn {
  color: #000;
  background-color: var(--orange);
  font-size: 2rem;
  font-weight: 400;
  padding: 0.8rem 2rem;
  border-radius: 5rem;
  border: 2px solid var(--orange);
}
/* End section home */

.homepage .book-form {
  width: 85%;
  margin: 0 auto;
  margin-top: -14rem;
  padding: 3.5rem 2rem;
  position: relative;
  background-color: #efefef;
  border-radius: 1rem;
  box-shadow: 4px 8px 20px 4px #0000007a;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.homepage .book-form form {
  display: flex;
  width: 100%;
  gap: 1rem;
  align-items: flex-end;
}

form .form-text span {
  font-size: 38px;
}

form .form-text {
  width: 100%;
}

form .book-form-btn {
  width: 100%;
  background-color: var(--orange);
  border: 2px solid var(--orange);
  border-radius: 5rem;
  overflow: hidden;
}

form .book-form-btn a {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1 1 25rem;
  padding: 1.2rem 1.4rem;
  color: #fff;
  font-size: 2rem;
  font-weight: 600;
  transition: 0.2s linear;
}
/* End section book-form */

.homepage .about {
  width: 85%;
  margin: 5rem auto;
  padding: 3rem 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}

.homepage .about .video-container {
  width: 100%;
}

.homepage .about .video-container video {
  width: 100%;
  border-radius: 1rem;
}

.homepage .about .video-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}

.homepage .about .video-container .controls {
  display: flex;
  gap: 1.5rem;
}

.homepage .about .video-container .controls .control-btn {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  border: 0.2rem solid var(--orange);
  transition: 0.25s linear;
}

.homepage .about .about-content > span {
  font-size: 2rem;
  font-weight: 400;
  color: var(--orange);
}

.homepage .about .about-content > h3 {
  font-size: 4rem;
  font-weight: 700;
  color: rgb(51, 51, 51);
}

.homepage .about .about-content > p {
  font-size: 1.7rem;
  line-height: 3.4rem;
  margin: 1rem 0;
}

.homepage .about .about-content .about-content-btn {
  font-size: 2rem;
  font-weight: 400;
  color: #efefef;
  padding: 0.8rem 2rem;
  background-color: var(--orange);
  border: 2px solid var(--orange);
  border-radius: 5rem;
  transition: 0.25s linear;
}
/* End section about */

.destination .container-card .row .col-2 .item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 36rem;
}

.destination .container-card .row .col-2 .item figure {
  overflow: hidden;
  height: 20rem;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

.destination .container-card .row .col-2 .item figure img {
  height: 20rem;
  width: 100%;
  transform: scale(1);
  transition: 0.3s ease-in-out;
}

.destination .container-card .row .col-2 .item h4 {
  padding: 1rem 0;
}

.destination .container-card .row .col-2 .item p {
  line-height: 2.8rem;
  font-weight: 400;
  color: rgb(170, 170, 170);
}

.destination .container-card .row .col-2 .item a {
  font-size: 1.7rem;
  font-weight: 400;
  color: var(--orange);
  position: absolute;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  gap: 0.3rem;
}

.destination .container-card .row .col-2 .item a i {
  transition: 0.3s ease;
}
/* End section  destination*/

.services .container-services .row .col-3 .item-services {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid var(--orange);
  border-radius: 1rem;
  padding: 3rem;
}

.item-services > i {
  font-size: 4rem;
  color: var(--orange);
}

.item-services > h4 {
  padding: 2rem 0 1rem;
}

.item-services > span {
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 2.8rem;
  color: rgb(85, 85, 85);
}
/* End section Services */
.home .services,
.home .destination,
.homepage .blogs,
.homepage .contact,
.homepage .review,
.container-gallery {
  width: 85%;
  margin: 0 auto;
}
.container-gallery .row .col-3 .gallery-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

.container-gallery .row .col-3 .gallery-item img {
  height: 30.5rem;
  width: 100%;
  border-radius: 1rem;
}

.homepage .gallery .gallery-heading {
  color: var(--orange);
  font-size: 3rem;
  font-weight: 700;
}

.gallery-item span {
  font-size: 1.4rem;
  color: rgb(85, 85, 85);
  font-weight: 600;
  padding: 1rem 0;
}
.gallery-item h4 {
  color: var(--orange);
  font-size: 2rem;
  font-weight: 700;
}
/* End section gallery */

.homepage .review {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  margin-bottom: 3rem;
}
.homepage .review .review-content {
  width: 100%;
}

.homepage .review .review-content h3 {
  font-size: 3rem;
  font-weight: 700;
  padding-bottom: 2rem;
  color: var(--orange);
}
.item-review {
  border: 2px solid var(--orange);
  border-radius: 1rem;
  padding: 1rem;
  min-height: 20rem;
}

.col-12 .item-review {
  min-height: 10rem;
}

.item-review .info-review {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding-top: 1rem;
}

.item-review .info-review img {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
}

.item-review .info-review span {
  color: rgb(51, 51, 51);
  font-size: 1.7rem;
  font-weight: 700;
}

.item-review .info-review span small {
  opacity: 0.7;
}
/* End section review */
.homepage .contact {
  margin-bottom: 3rem;
}
.homepage .contact h3 {
  text-transform: uppercase;
  font-size: 3rem;
  font-weight: 600;
  color: var(--orange);
  letter-spacing: 0.8rem;
  padding-bottom: 3rem;
  text-align: center;
}
.maps {
  height: 35rem;
  width: auto;
}

.inputBox {
  display: flex;
}

.inputBox input,
textarea {
  width: 49%;
  margin: 1rem 0;
  padding: 1rem;
  font-size: 1.7rem;
  color: #333;
  background-color: #f7f7f7;
  text-transform: none;
}

textarea {
  min-height: 15rem;
}

form .btn {
  display: block;
  margin-top: 1rem;
  background: var(--orange);
  color: #efefef;
  padding: 0.8rem 2rem;
  border: 0.2rem solid var(--orange);
  border-radius: 5rem;
  cursor: pointer;
  font-size: 2rem;
  transition: 0.3s linear;
}
/* End section contact */
.item-blogs {
  box-shadow: 2px 4px 20px 0px #333;
  border-radius: 1rem;
  overflow: hidden;
  margin-bottom: 3rem;
}

.item-blogs .image {
  overflow: hidden;
  height: 25rem;
}

.item-blogs .image img {
  height: 25rem;
  width: 100%;
  transition: 0.3s ease;
}

.item-blogs .content {
  padding: 2rem;
}

.item-blogs .content .link {
  font-size: 2rem;
  font-weight: 600;
  color: rgb(51, 51, 51);
  padding: 1rem 0;
}

.item-blogs .content .icon {
  display: flex;
  justify-content: space-between;
  font-size: 1.4rem;
}

.item-blogs .content .icon a {
  color: rgb(51, 51, 51);
}

.item-blogs .content .icon a i {
  color: var(--orange);
}
/* End section blogs */
footer {
  position: relative;
  height: 70vh;
}

.banner {
  width: 100%;
  height: 70vh;
  background: linear-gradient(rgba(17, 17, 17, 0.7), rgba(17, 17, 17, 0.7)),
    url(https://stravelhtml.vercel.app/mumbai/images/banner-bg.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  padding: 3rem 2rem;
  background-attachment: fixed;
  text-align: center;
  position: absolute;
  z-index: 0;
}

.banner .content h3 {
  font-size: 4rem;
  font-weight: 700;
  color: #fff;
}

.banner .content p {
  color: #fff;
  font-weight: 400;
  padding-bottom: 3rem;
}

.banner .content .banner-btn {
  padding: 0.8rem 2rem;
  border: 2px solid var(--orange);
  background-color: var(--orange);
  color: #fff;
  font-size: 2rem;
  transition: 0.25s linear;
  border-radius: 5rem;
}

.banner .content .banner-btn:hover {
  color: var(--orange);
  background-color: transparent;
}
/* End banner */

.footer {
  background-color: #222;
  overflow: hidden;
  position: absolute;
  bottom: 0;
  padding: 3rem 20rem;
}

.footer-linksSocial {
  padding-top: 1rem;
}

.footer-linksSocial ul {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
}

.footer-linksSocial ul li a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  font-size: 1.7rem;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  border: 2px solid var(--orange);
  color: var(--orange);
}

.item-footer > h3 {
  color: #fff;
  font-size: 2.2rem;
  font-weight: 700;
  padding-bottom: 1.5rem;
}

.item-footer > ul > li {
  padding: 1rem;
}

.item-footer > ul > li > a {
  color: rgb(170, 170, 170);
  font-size: 1.4rem;
}

.item-footer > ul > li > a > i {
  color: var(--orange);
  font-size: 1.5rem;
  transition: 0.25s linear;
}

.item-footer > p {
  display: block;
  padding: 1rem;
  color: rgb(170, 170, 170);
}

.item-footer > p > i {
  color: var(--orange);
  padding-right: 0.5rem;
}

.item-footer > span {
  display: block;
  color: rgb(170, 170, 170);
  font-size: 1.4rem;
  padding-bottom: 2rem;
}

.item-footer form input {
  width: 100%;
  border: 2px solid var(--orange);
  background-color: transparent;
  color: #efefef;
  padding: 1.5rem 2rem;
  border-radius: 5rem;
}

.item-footer > .footer-btn {
  display: inline-block;
  margin-top: 2rem;
  color: #000;
  background-color: var(--orange);
  padding: 0.8rem 2rem;
  font-size: 2rem;
  border-radius: 5rem;
  transition: 0.3s linear;
  border: 2px solid var(--orange);
}

.footer .credit {
  text-align: center;
  font-size: 2rem;
  color: rgb(85, 85, 85);
}

/* End section footer */
/* Hover */
.home-content .home-btn:hover,
.header .header-book:hover {
  color: #efefef;
  background-color: #5d4b2a;
}
.item-footer > .footer-btn:hover {
  color: var(--orange);
  background-color: transparent;
}
form .btn:hover,
.homepage .about .about-content .about-content-btn:hover,
form .book-form-btn:hover a {
  background-color: #f2e0bf;
  color: var(--orange);
}
.item-footer > ul > li > a:hover,
.item-blogs .content .icon a:hover,
.header-navbar .navbar-list .navbar-item:hover a {
  color: var(--orange);
}

.homepage .about .video-container .controls .control-btn:hover {
  background-color: var(--orange);
}

.destination .container-card .row .col-2 .item:hover img {
  transform: scale(1.3);
}

.destination .container-card .row .col-2 .item a:hover i {
  padding-left: 10px;
}

.item-blogs:hover img {
  transform: scale(1.3);
}

.item-footer > ul > li > a:hover i {
  padding-right: 10px;
}

/* Hover End */

@media screen and (min-width: 576px) {
  .col-offset-1 {
    --col-offset-size: 0;
  }
  .homepage .header .menu-btn {
    display: block;
    margin-left: -4rem;
  }
  .header .header-navbar {
    display: none;
  }
  .header .darklight-toggle {
    right: 35%;
  }
  .header .header-book {
    padding: 0.4rem 1rem;
    margin-right: -2rem;
  }
  .homepage .header {
    height: 6rem;
  }
  .home-content h1 {
    font-size: 52px;
    font-weight: 700;
  }
  .home-content p {
    max-width: 150%;
    font-size: 13px;
    line-height: 26px;
  }
  .homepage .book-form form {
    display: block;
  }
  .homepage .review,
  .homepage .about {
    display: block;
  }
  .col-12 .item-review {
    min-height: 20rem;
  }
  .banner {
    height: 80vh;
  }

  footer .footer {
    min-width: 576px;
    padding: 2rem 1rem;
    bottom: -35%;
  }
  .footer .credit {
    display: inline-block;
    margin-left: -40%;
    width: 200%;
    font-size: 18px;
  }
  .home .services,
  .home .destination,
  .homepage .blogs,
  .homepage .contact,
  .homepage .review,
  .container-gallery {
    width: 100%;
  }
}

@media screen and (min-width: 768px) {
  .homepage .book-form form {
    display: flex;
  }
  form .form-text span {
    font-size: 26px;
  }
  .footer .credit {
    margin-left: -50%;
  }
  .item-blogs .content .link {
    font-size: 18px;
  }
  p {
    font-size: 12px;
    line-height: 25px;
  }
}

@media screen and (min-width: 1200px) {
  .home .services,
  .home .destination,
  .homepage .blogs,
  .homepage .contact,
  .homepage .review,
  .container-gallery {
    width: 80%;
    margin: 0 auto;
  }
  .home .destination {
    padding: 0 1rem;
  }
  .homepage .book-form {
    display: flex;
  }
  form .form-text span {
    font-size: 38px;
  }
  .header .header-navbar {
    display: block;
  }
  .homepage .header .menu-btn {
    display: none;
  }
  .header .darklight-toggle {
    right: 20%;
  }
  .homepage .about {
    display: flex;
  }
  .home-content h1 {
    font-size: 60px;
  }
  .home-content p {
    font-size: 15px;
    line-height: 30px;
  }
  .home-content h1 .special {
    font-size: 48px;
  }
}

@media screen and (min-width: 1400px) {
  .home .services,
  .home .destination,
  .homepage .blogs,
  .homepage .contact,
  .homepage .review,
  .container-gallery {
    width: 90%;
    margin: 0 auto;
  }
  .homepage .review {
    display: flex;
    gap: 2rem;
  }
  .homepage .review .review-content {
    width: 145%;
  }
}

@media screen and (min-width: 1501px) {
  .col-offset-1 {
    --col-offset-size: 0;
  }
  footer .footer {
    width: 100%;
    bottom: 0;
    padding: 1rem 20rem;
  }
  .banner {
    height: 70vh;
  }
  .home-content h1 {
    font-size: 90px;
  }
  .home-content h1 {
    font-size: 77px;
  }
}
