@import "reset";
@import "variables";

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Sofia Sans", sans-serif;
}

input,
button,
textarea,
select {
  font-family: inherit;
  outline: none;
  border: none;
}

a {
  text-decoration: none;
}

.wrapper {
  position: relative;
}

.wrapper-inner {
  width: 90%;
  margin: 0 auto;
  position: relative;
  padding-bottom: 5rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: auto 1fr 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "sidebar header header header header"
    "sidebar main main main main"
    "sidebar main main main main"
    "sidebar main main main main"
    "sidebar main main main main";
}

.sidebar {
  padding: 5.4rem 0 0 5.8rem;
  grid-area: sidebar;
  margin-right: 38px;
  display: flex;
  flex-direction: column;

  .heading {
    margin-top: 6rem;
    font-size: 3.2rem;
    font-weight: 800;
  }

  .nav {
    display: flex;
    flex-direction: column;
    margin-top: 4.8rem;
    row-gap: 1.8rem;

    .nav-item {
      display: flex;
      align-items: center;
      column-gap: 1.2rem;
      padding: 0.6rem;
      border-radius: 8px;
      font-size: 1.6rem;
      font-weight: 600;
      color: $text-color;
      transition: background-color 0.25s linear;

      &:hover {
        background-color: #ebebeb;
      }

      .icon {
        width: 2.2rem;
        height: 2.2rem;
        object-fit: contain;
      }
    }
  }

  .chat-btn {
    display: flex;
    column-gap: 18px;
    align-items: center;
    background-color: transparent;
    font-size: 1.6rem;
    font-weight: 600;
    margin-top: auto;
    cursor: pointer;

    .icon {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      background-color: #f6f6f6;
      transition: background-color 0.25s linear;

      &:hover {
        background-color: #ebebeb;
      }
    }
  }
}

// End sidebar

.header {
  height: $header-height;
  grid-area: header;
  display: flex;
  align-items: center;
  .search-form {
    display: flex;
    align-items: center;
    column-gap: 1.8rem;
    margin-right: auto;
    .search {
      font-size: 1.8rem;
      font-weight: 600;
      background-color: #fff;
      &::placeholder {
        color: rgba($color: #000, $alpha: 0.2);
      }
    }
  }
  .nav {
    display: flex;
    column-gap: 4.6rem;

    .nav-link {
      position: relative;
      padding-bottom: 0.8rem;
      font-size: 1.8rem;
      color: $text-color;
      font-weight: 600;
      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0;
        height: 0.3rem;
        background-color: $black;
        transition: width 0.25s linear;
      }

      &:hover::after,
      &.active::after {
        width: 100%;
      }
    }
  }

  .actions {
    display: flex;
    align-items: center;
    column-gap: 2.6rem;
    margin-left: 5rem;
  }
}

// End header

.main {
  grid-area: main;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 18.8rem;
  gap: 22px 22px;

  .layout-item {
    overflow: hidden;
    width: 100%;
    border-radius: 1.6rem;
  }

  .layout-item:nth-child(1) {
    grid-column: 1/3;
    grid-row: 1/2;
  }
  .layout-item:nth-child(2) {
    grid-column: 1/3;
    grid-row: 2/3;
  }
  .layout-item:nth-child(3) {
    grid-column: 1/2;
    grid-row: 3/5;
  }
  .layout-item:nth-child(4) {
    grid-column: 2/3;
    grid-row: 3/5;
  }
  .layout-item:nth-child(5) {
    grid-column: 3/4;
    grid-row: 1/3;
  }
  .layout-item:nth-child(6) {
    grid-column: 4/5;
    grid-row: 1/3;
  }
  .layout-item:nth-child(7) {
    grid-column: 3/5;
    grid-row: 3/4;
  }
  .layout-item:nth-child(8) {
    grid-column: 3/5;
    grid-row: 4/5;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.25s ease;

    &:hover {
      transform: scale(1.1);
    }
  }
}

// End main

@media screen and (max-width: 1199.98px) {
  html {
    font-size: 50%;
  }
  .wrapper-inner .sidebar .chat-btn {
    column-gap: 1rem;
  }
}
@media screen and (max-width: 991.98px) {
  .wrapper-inner {
    width: 90%;
    margin: 0 auto;
    padding: 0 1rem;
  }
  .wrapper-inner .sidebar {
    padding-left: 0;
    margin-right: 0;
  }
  .wrapper-inner .header {
    height: 10rem;
  }
  .wrapper-inner .header form {
    gap: 0;
  }
  .wrapper-inner .header .nav {
    column-gap: 2rem;
  }
  .wrapper-inner .header .actions {
    column-gap: 1.5rem;
    margin-left: 2rem;
  }
  .wrapper-inner .main {
    grid-auto-columns: 1fr;
    grid-template-columns: 1fr 1fr;
    // grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-auto-rows: 18.8rem;
    gap: 1rem 1rem;
    grid-template-areas:
      "layout1 layout2"
      "layout3 layout4"
      "layout5 layout6"
      "layout7 layout8";
    .layout-item:nth-child(1) {
      grid-area: layout1;
    }
    .layout-item:nth-child(2) {
      grid-area: layout2;
    }
    .layout-item:nth-child(3) {
      grid-area: layout3;
    }
    .layout-item:nth-child(4) {
      grid-area: layout4;
    }
    .layout-item:nth-child(5) {
      grid-area: layout5;
    }
    .layout-item:nth-child(6) {
      grid-area: layout6;
    }
    .layout-item:nth-child(7) {
      grid-area: layout7;
    }
    .layout-item:nth-child(8) {
      grid-area: layout8;
    }
  }
}
@media screen and (max-width: 767.98px) {
  .wrapper-inner {
    width: 95%;
    padding: 1rem 0 5rem 0;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto 1fr;
    grid-auto-columns: 1fr;
    gap: 22px 22px;
    grid-auto-flow: row;
    grid-template-areas:
      "sidebar"
      "header"
      "main";

    .sidebar {
      grid-area: sidebar;
      flex-direction: row;
      padding: 2rem 0 0 0;
      .heading {
        display: none;
      }
      .nav {
        flex-direction: row;
        margin-top: 7rem;
        margin-left: -12rem;
        column-gap: 2rem;

        .nav-item {
          flex-direction: column;
        }
      }
    }
    .chat-btn {
      position: fixed;
      bottom: 0;
      .hidden {
        display: none;
      }
    }
    .header {
      grid-area: header;
    }
    .main {
      grid-area: main;
    }
  }
}
