.m-0 {
  margin: 0;
}

.mb-0 {
  margin: 0;
}

.mt-10 {
  margin-top: 10rem;
}

.mt-10 {
  margin-top: 10rem;
}

.p-0 {
  padding: 0;
}

.text-center {
  text-align: center;
}

.heading-section {
  font-size: 3.1rem;
  line-height: 1.31;
}
