@use "./variables";
@use "./mixins";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
  border: 0;
}

html {
  font-size: 62.5%;

  @include mixins.lg-device {
    font-size: 50%;
  }
}

body {
  font-size: variables.$fontSize;
  font-family: "Inter", sans-serif;
  color: variables.$textColor;
  line-height: 1.27;
}

img {
  width: 100%;
  height: auto;
}

input,
label,
textarea {
  font-family: inherit;
}

ol,
ul {
  list-style: none inside;
}

a {
  color: variables.$textColor;
  text-decoration: none;
  &:hover {
    color: variables.$primaryColor;
  }
}

h1,
h2 {
  font-weight: 800;
}

h3 {
  font-weight: 700;
}

h4 {
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.33;
}
